<h3>
  <i class="fas fa-book-reader"></i> StoryBooks

</h3>
<section class="section">
  <p class="lead">
    Create public or private stories from your life
  </p>
  <div class="divider"></div>
  <div class="section">
    <a href="/auth/google" class="btn red darken-1">
      <i class="fab fa-google"></i> Login with Google
    </a>
  </div>
</section>
