/** @format */

.login-container {
	width: 480px;
	margin-top: 2rem;
	text-align: center;
}

p {
	margin: 1.5rem !important;
}
.fa-small {
	font-size: 15px !important;
}
.btn-float {
	float: left;
	margin-right: 0.5rem;
}
.img-small {
	width: 180px;
}
