<h1>
  Add Story
</h1>
<div class="row">
  <form action="/stories" method="POST" class="col s12">
    <div class="row">
      <div class="input-field">
        <input type="text" id="title" name="title">
        <label for="title">Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select name="status" id="status">
          <option value="public">Public</option>
          <option value="private">Private</option>
          <option value="unpublished">Unpublished</option>
        </select>
        <label for="status">Status</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <h5>
          Tell us about your story
        </h5>
        <textarea name="body" id="body"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" class="btn" value="Publish">
      <a href="/dashboard" class="btn orange">Cancel</a>
    </div>
  </form>
</div>


