<h1>
  Edir Story
</h1>
<div class="row">
  <form action="/stories/{{story._id}}" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
    <div class="row">
      <div class="input-field">
        <input type="text" id="title" name="title" value="{{story.title}}">
        <label for="title">Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select name="status" id="status">
          {{#select story.status}}
          <option value="public">Public</option>
          <option value="private">Private</option>
          <option value="unpublished">Unpublished</option>
          {{/select}}
        </select>
        <label for="status">Status</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <h5>
          Tell us about your story
        </h5>
        <textarea name="body" id="body">
          {{story.body}}
        </textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" class="btn" value="Publish">
      <a href="/dashboard" class="btn orange">Cancel</a>
    </div>
  </form>
</div>
