<h1>
  Story
</h1>
<div class="row">
  {{#each stories}}
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        {{{ editIcon user ../user _id }}}
      </div>
      <div class="card-content center-align">
        <h5>
          {{title}}
        </h5>
        <p>
          {{stripTags (truncate body 20)}}
        </p>
        <div class="chip">
          <img src="{{user.image}}" alt="Image user">
          <a href="/stories/user/{{user._id}}">
            {{user.displayName}}
          </a>
        </div>
      </div>
      <div class="card-action center-align">
        <a href="/stories/{{_id}}" class="btn grey">Read More</a>
      </div>
    </div>
  </div>
  {{else}}
  <p>No stories was found</p>
  {{/each}}
</div>
