<div class="row">

  <div class="col s12 m8">
    <h3>
      {{story.title}}
    </h3>
    <small>
      {{{ editIcon story.user user story._id true }}}
    </small>
    <div class="card story">
      <div class="card-content">
        <span class="card-title">
          {{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}
        </span>
        {{{story.body}}}
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">
          {{story.user.displayName}}
        </span>
        <img src="{{story.user.image}}" alt="" class="circle responsive-img img-small">
      </div>
      <div class="card-action">
        <a href="/stories/user/{{story.user._id}}">
          More from {{story.user.firstName}}
        </a>
      </div>
    </div>
  </div>
</div>
